@mixin text($_color, $_family, $_size) {
	color: $_color;
	font-family: $_family;
	font-size: $_size;
	text-align: left;
}

@mixin flex($_direction) {
	display: flex;
	flex-direction: $_direction;
}

@mixin button(
	$_width,
	$_height,
	$_color,
	$_bgColor,
	$_border,
	$_size,
	$_weight
) {
	width: $_width;
	height: $_height;
	color: $_color;
	background: $_bgColor;
	border: $_border;
	border-radius: 5px;
	font-family: 'Geometria';
	font-size: $_size;
	font-weight: $_weight;
	text-align: center;
}

@mixin font($_family, $_size) {
	font-family: $_family;
	font-size: $_size;
}

@mixin box($_bgImage, $_gridArea) {
	background-image: $_bgImage;
	background-repeat: no-repeat;
	grid-area: $_gridArea;
}

@mixin boxContent {
	margin: 250px 20px 16px 20px;
	float: left;
	font-family: 'Geometria-Bold';
	font-size: 19px;
	color: rgb(255, 255, 255);
}

@mixin btnApartments($_width, $_height, $_bg, $_border, $_family, $_size) {
	width: $_width;
	height: $_height;
	background: $_bg;
	border: $_border;
	font-family: $_family;
	font-size: $_size;
}
